* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.container {
	height: 100vh;
	text-align: center;
	padding: 1rem 2rem 0;
	font-family: cursive;
}

.container.active .toggle-bar {
	transform: rotate(-90deg);
}

.toggle-bar {
	width: 200px;
	height: 200px;
	background-color: brown;
	color: white;
	border-radius: 50%;
	position: fixed;
	top: -100px;
	left: -100px;
	transition: all 0.4s linear;
	z-index: 100;
}

.toggle-bar button {
	position: absolute;
	top: 65%;
	left: 70%;
	border: none;
	padding: 0.25rem;
	border-radius: 5px;
	cursor: pointer;
}

.toggle-bar button:active {
	transform: scale(0.98);
}

.toggle-bar button.Close {
	top: 65%;
	left: 20%;
	transform: rotate(90deg);
}

.article {
	margin: 0 auto;
	width: 60%;
	min-width: 500px;
	transition: transform 0.5s ease-in;
	transform-origin: top left;
	background-color: rgb(173, 173, 237);
	padding: 1rem;
}

.container.active .article {
	transform: rotate(-20deg);
}

.article img {
	width: 200px;
	height: 200px;
}

.hidden-nav {
	position: fixed;
	bottom: -10px;
	left: -90px;
	padding-bottom: 4rem;
	width: 50%;
	transform: translate(-100%);
	transition: transform 0.5s ease-in;
}

.container.active .hidden-nav {
	transform: translate(0);
}

.hidden-nav li {
	margin: 1rem 0;
}

.hidden-nav li + li {
	transform: translateX(1rem);
}

.hidden-nav li + li + li {
	transform: translateX(2rem);
}

li a {
	cursor: pointer;
}
